/* Basic components */
.header {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  align-items: center;
  text-align: center;
  line-height: 64px;
  padding-top: 30px;
}

.footer {
  height: 100%;
  background-color: var(--bg-color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  background-image: linear-gradient(var(--gpStoreDarkGrey), var(--gpStoreDarkerGrey));
  height: 100%;
  min-height: 120px;
  color: var(--color-text);
  text-align: center;
}

.theme_switcher {
  position: fixed;
  top: 0;
  right: 0;
  width: 120px;
  text-align: center;
  overflow: hidden;
  background-color: var(--bg-color-main);
  z-index: 999;
}