/* Basic components */
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 1px 2px 2px #00000033; */
  /* background-color: #eee; */
  text-align: center;
  line-height: 64px;
}

.footer {
  height: 70px;
  /* background-color: #eee; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: black; */
  text-align: center;
}

.content {
  /* background-color: #eee; */
  min-height: 120px;
  /* color: black; */
  text-align: center;
}