.loginPageContainter {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  background-color: var(--bg-color-menu);
  background-size: cover;
  background-image: linear-gradient(var(--gpStoreDarkGrey), var(--gpStoreDarkerGrey)),var(--image2);
  background-color:var(--color-text);
}

.loginContentContainer {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 80px;
  width: 700px;
  height: 430px;
  z-index: 1;
}

.loginTitle {
  font-size: 31px;
  font-weight: 500;
  margin: 8px 16px 0;
  color: var(--color-text);
}

.loginFormAndLogo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 40px;
  padding: 24px 32px;
  background-color: var(--bg-color-main);
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.loginLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-image: var(--image2);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.loginFormNameContText {
  color: var(--color-text);
  text-align: left;
}

.loginFormNameContInput {
  height: 40px;
  /* background-color: var(--bg-color-menu); */
  color: var(--color-text)
}

.loginFormPasswordContText {
  color: var(--color-text);
  text-align: left;
  color: #AFAFAF;
}

.loginFormPasswordContInput {
  height: 40px;
  /* background-color: var(--bg-color-menu); */
  color: var(--color-text)
}

.loginFormPasswordContInput input {
  /* background-color: var(--bg-color-menu); */
  color: var(--color-text)
}

.loginFormPasswordContInput svg {
  color: var(--color-text)
}

.loginAnswerCont {
  font-size: 14px;
  font-weight: 500;
  color: #c15755;
  text-align: center;
  height: 17px;
}

.loginFormSubmitCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFormSubmitButton {
  width: 270px;
  height: 47px;
}

.helpCont {
  display: flex;
  justify-content: center;
  color: #AFAFAF;
  margin-top: auto;
}

.helpLink {
  font-size: 14px;
}

@media (max-width: 709px) {
  .loginPageContainter {
    background: #181A21;
  }

  .loginContentContainer {
    width: 310px;
    height: 454px;
  }

  .loginFormAndLogo {
    padding: 5px 5px;
    background-color: transparent;
  }

  .loginForm {
    width: 300px;  
  }

  .loginFormPasswordCont {
    height: 106px;
  }

  .loginLogo {
    display: none;
  }

  .loginAnswerCont {
    margin-bottom: 17px;
  }
}
