.loginPageContainter {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  background: darkgray;
}

.loginContentContainer {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 80px;

  width: 700px;
  height: 430px;

  z-index: 1;
}

.loginTitle {
  font-size: 31px;
  font-weight: 500;

  margin: 8px 16px 0;
  color: #FFFFFF;
}

.loginFormAndLogo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 40px;

  padding: 24px 32px;

  background-color: #181A21;
}

.loginForm {
  display: flex;
  flex-direction: column;

  width: 400px;  
}

.loginLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.loginFormNameContText {
  text-align: left;
  color: #AFAFAF;
}

.loginFormNameContInput {
  height: 40px;
  background-color: #32353C;
  color: #fff  
}

.loginFormPasswordContText {
  text-align: left;
  color: #AFAFAF;
}

.loginFormPasswordContInput {
  height: 40px;
  background-color: #32353C;
  color: #fff
}

.loginFormPasswordContInput input {
  background-color: #32353C;
  color: #fff
}

.loginFormPasswordContInput svg {
  color: #fff
}

.loginAnswerCont {
  font-size: 14px;
  font-weight: 500;
  color: #c15755;
  text-align: center;
  height: 17px;
}

.loginFormSubmitCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFormSubmitButton {
  width: 270px;
  height: 47px;
}

.helpCont {
  display: flex;
  justify-content: center;
  color: #AFAFAF;
  margin-top: auto;
}

.helpLink {
  font-size: 14px;
}

@media (max-width: 709px) {
  .loginPageContainter {
    background: #181A21;
  }

  .loginContentContainer {
    width: 310px;
    height: 454px;
  }

  .loginFormAndLogo {
    padding: 5px 5px;
    background-color: transparent;
  }

  .loginForm {
    width: 300px;  
  }

  .loginFormPasswordCont {
    height: 106px;
  }

  .loginLogo {
    display: none;
  }

  .loginAnswerCont {
    margin-bottom: 17px;
  }
}
