.loginPageContainter {
  display: flex;
  flex: 1;
  justify-content: center;
  /* height: 100%; */
  /* position: relative; */
  background-size: cover;
  background-image: linear-gradient(var(--gpStoreDarkGrey), var(--gpStoreDarkerGrey)),var(--image2);
}

.loginContentContainer {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: auto;
  row-gap: 40px;
  margin-top: 40px;
  z-index: 1;
  margin-bottom: 40px;
  justify-content: center;
}

.loginTitle {
  font-size: 31px;
  font-weight: 500;
  margin: 8px 16px 0;
}

.loginFormAndLogo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 40px;
  padding: 24px 32px;
  background-color: var(--bg-color-main);
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.loginLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-image: var(--image2);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.loginFormNameContInput {
  height: 40px;
}

.loginFormPasswordContInput {
  height: 40px;
}

.loginAnswerCont {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  height: 17px;
}

.loginFormSubmitCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFormSubmitButton {
  width: 270px;
  height: 47px;
}

.helpCont {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.helpLink {
  font-size: 14px;
}

@media (max-width: 709px) {
  .loginPageContainter {
    background: var(--bg-color-main);
  }

  .loginContentContainer {
    width: 310px;
  }

  .loginFormAndLogo {
    padding: 5px 5px;
    background-color: transparent;
  }

  .loginForm {
    width: 300px;
  }

  .loginFormPasswordCont {
    height: 106px;
  }

  .loginLogo {
    display: none;
  }

  .loginAnswerCont {
    margin-bottom: 17px;
  }
}
