.pageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1800px;
  flex-direction: column;
  background-color: white;
}

.sectionContaier {
  margin: 50px auto;
  width: 80%;
}

.logoBlock {
  background: rgb(230, 230, 230);
}

.containerBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.block {
  width: 50;
  height: 50;
  font-size: 30px;
  color: BLAck;
}

.block img {
  height: 100px;
}

.block img:hover {
  transform: scale(1.2);
}

/* sprint 1 */
.sprint_1 {
  background: rgb(230, 230, 230);
}

.sprint_1_title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: #51176d;
  flex-direction: column;
  align-items: center;
}

.sprint_1_title h2 {
  border-bottom: 2px solid #51176d;
  width: max-content;
  margin: 0;
}

.sprint_1_title h3 {
  width: max-content;
  font-size: 26px;
}


/* .period {
  width: 300px;
} */

.timePeriodTitle {
  position: relative;
  /* display: inline; */
  background: rgb(248, 248, 248);
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
  color: rgb(50, 50, 50);
  font-family: 'Open Sans', sans-serif;
  font-size: 112.5%;
  line-height: 1.6em;
  width: fit-content;
}

.period:hover {
  transform: scale(1.1);
  color: #51176d;
  padding-left: 20px;
}

.timePeriodTitle:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.timePeroidText {
  width: 200px;
  font-style: italic;
  line-height: 1.5em;
  color: rgb(50, 50, 50);
  margin: 1em 0 0 0.75em;
  text-align: left;
}

.column_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
}

.timeLine {
margin-left: 50px;

}
/* .container {
  background:rgb(230, 230, 230);
}

.containerWidth {
  margin: 0 auto;
  width: 80%;
}

.containerBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.block {
width: 50;
height: 50;
font-size: 30px;
color: BLAck;
}

.block img {
  height: 150px;
}

.sprint1_logo {
  width: 500px;
  height: 500px;
}

.s1Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
*/
.appBlocks {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 50%;
}

/* Jira */
.jiraBlock {
  width: 400px;
  padding-left: 100px;
  margin-bottom: 30px;
}

.jiraBlock img {
  width: 50px;
}

.jiraBlockHeader {
  border-bottom: 1px solid white;
  background-color: #0052b6;
  /* height: 50px; */
  border-radius: 10px 10px 0 0;
  color: white;
  /* padding: 10px; */
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.jiraBlockBody {
  background-color: WHITE;
  color: rgba(0, 0, 0, 0.7);
  padding: 4px;
}
.jiraBlockBody p {
  font-wight: 600;
}
.jiraBlockBody li {
 list-style: none;
 font-size: 16px;
 padding: 10px;
}
.jiraBlockBody ul {
margin: 0;
}


/* git hub block */
.gitBlock {
  width: 400px;
  height: 120px;
  padding-right: 50px;
}

.gitBlockHeader {
  border-bottom: 1px solid white;
  background-color: black;
  height: 50px;
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 10px;
  font-size: 24px
}

.gitBlockBody {
  background-color: WHITE;
  color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}


/* Product main  */

.productConatiner {

  background-color: #2e4c63;
}

.containerBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;
}

.aboutProductBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
}

.productSlader {
  width: 600px;
  padding: 13px;
  /* border: 5px solid #d5cdcd;
  border-radius: 10%; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.productInfo {
  width: 600px;
  padding-left: 10px;
  margin-right: 10%;
}

.productInfoTitle h3 {
  color: white;
  text-align: center;
  margin-top: 8%;
  letter-spacing: .08em;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 40px;
}

.list li {
  list-style: none;
}

/* 
font-family: 'EB Garamond', serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Mono One', sans-serif; */




.progectDiscription {
  text-align: justify;
  padding-left: 10px;
  margin-bottom: 10%;
  font-size: 18px;
  line-height: 101%;
  color: rgb(230, 230, 230);
  font-family: 'EB Garamond', serif;
}

.progectName {
  font-size: 40px;
  color: #e7bd71;
  padding: 20px;
  text-align: left;
  font-family: 'Black Ops One';
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  /* font-family: 'Rubik Mono One', sans-serif; */
}

/* .aboutProductBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .productSlader {
    width: 600px;
    padding: 13px;
    border: 10px solid white;
    border-radius: 10%;
  }  */
/*   
  .productInfo {
    width: 500px;
    padding-left: 20px;
  }
  
  .productInfoTitle h3 {
    color: lightblue; 
    text-align: center;
    margin-top: 8%; 
    letter-spacing: .08em; 
    font-family: 'Archivo', sans-serif;
    font-weight:bold;
    padding-bottom: 20px; 
    font-size: 40px;
  }
  
  
  .progectDiscription {
    text-align: justify;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  
  .progectName {
  font-size: 30px;
  color: orange;
  padding: 10px;
  text-align: left;
  } */