@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

.pageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
}

.sectionContaier {
  width: 80%;
}

.logoBlock {
  background: rgb(230 230 230 / 81%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.containerBlock {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 90%;

  margin-bottom: 40px;
}

.block {
  width: 50;
  height: 50;
  font-size: 30px;
}

.block img {
  height: 100px;
}

.block img:hover {
  transform: scale(1.2);
}

/* sprint 1 */
.sprint_1 {
  background: rgb(230, 230, 230);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sprint_1_title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: #51176d;
  flex-direction: column;
  align-items: center;
}

.sprint_1_title h2 {
  border-bottom: 2px solid #51176d;
  margin: 0;
}

.sprint_1_title h3 {
  width: 90%;
}

.period {
  padding-bottom: 10px;
}

.clientLogo img {
  width: 60px;
}

.clientLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logosCont {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.btnBlock {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.btnBlock h4 {
  font-size: 33px;
  color: black;
  margin: 0;
}

.sprint_1_title h3 {
  font-size: 26px;
}

.timePeriodTitleRight {
  position: relative;
  background: rgb(248, 248, 248);
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
  color: rgb(50, 50, 50);
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
  line-height: 1.6em;
  width: fit-content;
  transition: 0.3s;
  transform: scale(1);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timePeriodTitleRight img,
.timePeriodTitleLeft img {
  border-radius: 50%;
  width: 60px;
  padding: 0 10px;
}

.timePeriodTitleLeft {
  position: relative;
  background: rgb(248, 248, 248);
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
  color: rgb(50, 50, 50);
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
  line-height: 1.6em;
  width: fit-content;
  transition: 0.3s;
  transform: scale(1);
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timePeriodTitleRight:hover,
.timePeriodTitleLeft:hover {
  transform: scale(1.2);
  transform-origin: left;
  color: #51176d;
  padding-left: 20px;
  background-color: rgba(211, 195, 195, 0.897);
}

.timePeriodTitleLeft:hover {
  transform-origin: right;
}

.timePeriodTitleRight:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.timePeroidText {
  font-style: italic;
  line-height: 1.5em;
  color: rgb(50, 50, 50);
  margin: 1em 0 0 0.75em;
  text-align: justify;
  transition: 0.3s;
  transform: scale(1);
  font-size: 16px;
}

.timePeriodTitleLeft:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
  transform: rotate(182deg);
}

.timePeroidTextLeft {
  font-style: italic;
  line-height: 1.5em;
  color: rgb(50, 50, 50);
  margin: 1em 0 0 0.75em;
  text-align: right;
  font-size: 16px;
}

.column_2 {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  justify-content: space-between;

  margin-top: 3%;
  margin-bottom: 3%;
}

.appBlocks {
  display: flex;
  flex-direction: column;
  width: 35%;
}

/* Jira */
.jiraBlock {
  width: 400px;
  padding-left: 100px;
  margin-bottom: 30px;
}

.jiraBlock img {
  width: 50px;
}

.jiraBlockHeader {
  border-bottom: 1px solid white;
  background-color: #0052b6;
  border-radius: 10px 10px 0 0;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.jiraBlockBody {
  background-color: WHITE;
  color: rgba(0, 0, 0, 0.7);
  padding: 4px;
}

.jiraBlockBody li {
  list-style: none;
  font-size: 16px;
  padding: 10px;
}

.jiraBlockBody ul {
  margin: 0;
}

/* git hub block */
.gitBlock {
  width: 400px;
  height: 120px;
  padding-right: 50px;
}

.gitBlockHeader {
  border-bottom: 1px solid white;
  background-color: black;
  height: 50px;
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 10px;
  font-size: 24px
}

.gitBlockBody {
  background-color: WHITE;
  color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.productConatiner {
  background-color: #1c4b6fa6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;

}

.containerBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}

.aboutProductBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7%;
  margin-bottom: 7%;
}

.productSlader {
  width: 49.4%;
  padding: 13px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 45%;
}

.productInfoTitle h3 {
  text-align: center;
  margin-top: 8%;
  letter-spacing: .08em;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 40px;
}

.contCardClientServ {
  width: 400px;
}

.list li {
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

.progectDiscription {
  text-align: justify;
  padding-left: 10px;
  margin-bottom: 10%;
  font-size: 18px;
  line-height: 101%;
  font-family: 'Poppins', sans-serif;
}

.progectName {
  font-size: 40px;
  color: #d6a74f;
  padding: 0 10px;
  text-align: center;
  font-family: 'Black Ops One';
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 10px;
}

.loginForm img {
  border-radius: 10px;
  transition: 500ms;
}

.loginForm img:hover {
  transform: scale(1.08);
}

.clientServerImg {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.carouselDots {
  bottom: -5px !important;
}

.carouselDots button {
  height: 6px !important;
  background-color: var(--bg-color-main-invert) !important;
  bottom: -16px !important;
}

.contCardClientServ li[class~="ant-list-item"] {
  padding: 10px 0;
}

.column2reverse {
  flex-direction: row-reverse;
}

@media (max-width: 970px) {
  .container {
    width: 100%;
  }

  .sectionContaier {
    width: 90%;
  }

  .productSlader,
  .productInfo {
    width: 80%;
  }

  .infoMainContaier {
    flex-direction: column;
    height: fit-content;
  }

  .aboutProductBlock {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .containerBlock {
    flex-direction: column;
  }

  .sprint_1_title h3 {
    font-size: 20px;
  }

  .jiraBlock {
    width: 350px;
    padding-left: 0px;
  }
}

@media (max-width: 750px) {
  .sprint_1_title h3 {
    font-size: 20px;
  }

  .loginForm {
    display: none;
  }

  .column_2 {
    flex-direction: column;
  }

  .timeLine {
    margin: 0 auto;
    width: 90%;
  }

  .appBlocks {
    display: none;
  }

  .timePeroidText {
    width: auto;
  }
}

@media (max-width: 480px) {
  .productSlader,
  .productInfo {
    width: 100%;
  }

  .productInfoTitle {
    font-size: 25px;
    padding-bottom: 0px;
    margin-bottom: 0;
  }

  .sprint_1_title h2 {
    font-size: 25px;
  }

  .sprint_1_title h3 {
    font-size: 20px;
  }

  .column_2 {
    flex-direction: column;
  }

  .appBlocks {
    display: none;
  }

  .timePeriodTitleLeft .timePeriodTitleRight {
    width: 160px;
  }

  .timePeroidText {
    margin: 0;
  }

  .timeLine {
    margin: 0 auto;
  }

  .contCardClientServ {
    width: 100%;
  }

  .contCardClientServ li[class~="ant-list-item"] {
    padding: 2px 0;
  }

  .clientServerImg {
    height: 40px;
    width: auto;
  }

  .logosCont {
    display: flex;
    flex-direction: row;
    column-gap: 2px;
  }
}