.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mainCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  margin-top: 40px;
  z-index: 1;
  margin-bottom: 40px;
  align-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.headerBlockCont {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  padding: 10px;
  margin-right: 10px;
  justify-content: center;
  width: 100%;
  padding: 0 10px 10px;
}

.headerBlockSearch {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  padding: 10px;
  margin-right: 10px;
  background-color: var(--bg-color-main);
}

.menuContainer {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: auto;
  row-gap: 40px;
  margin-top: 40px;
  z-index: 1;
  margin-bottom: 40px;
  justify-content: center;
}
