.container {
  display: flex;
  flex: 1;
  justify-content: center;
  /* height: 100%; */
  /* position: relative; */
  background-size: cover;
  background-image: linear-gradient(var(--gpStoreDarkGrey), var(--gpStoreDarkerGrey)),var(--image2);
}

.menuContainer {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: auto;
  row-gap: 40px;
  margin-top: 40px;
  z-index: 1;
  margin-bottom: 40px;
  justify-content: center;
}