.catalogCardTwoPrice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  flex-wrap: wrap;
}

.catalogCardRegPrice {
  font-weight: 500;
  text-decoration: line-through;
}

.catalogCardDiscPrice,
.catalogCardNormalPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}