.swiperDescWrapper {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 100%;
  text-shadow: 3px 3px 3px #000;
}

.swiperDescText {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.swiper-slide img {
  display: flex;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.mySwiper2 {
  display: flex;
  border-radius: 16px;
  height: auto;
}

.mySwiper {
  display: flex;
  box-sizing: border-box;
  /* width: 60%; */
  border-radius: 16px;
  min-width: 180px;
}

.mySwiper .swiper-slide {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  display: flex;
  margin-bottom: 0px;
}

.mySwiper .swiper-slide > img {
  display: flex;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  height: 100%;
  padding: 10px;
}


.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.swiperDiscCont {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 25%;
  left: 25%;
  transform: translate(-50%, 0%);
  z-index: 99;
  align-items: center;
}

.carouselItemDesc {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  pointer-events: none;
  background-color: transparent;
  color: #fff;
  z-index: 2;
  font-size: 12px;
  max-width: 240px;
}

.carouselItemImg {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.bannerCardTitle {
  z-index: 999;
  font-size: 30px;
  color: #fff;
}

.mask {
  border-radius: 16px;
  position: absolute;
  width: 100%;
  height: 99%;
  padding-bottom: 4px;
  z-index: 1;
  opacity: 0.6;
  background: linear-gradient( 270deg, rgba(11, 11, 11, 0) 0%, #0b0b0b 100%, #0b0b0b 100% );
}

.discountPrice {
  display: flex;
  transform: translate(0%, -43%);
  justify-content: center;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.discCardTwoPrice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
}

.discCardRegPrice {
  font-weight: 400;
  text-decoration: line-through;
}

.discCardDiscPrice,
.discCardNormalPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 10px;
}

.btn {
  outline: none;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  line-height: 1.5714285714285714;
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(230, 244, 255, 0.98);
  z-index: 999;
}

.swiperButtn:disabled {
  border-color: #52c41a !important;
  color: #52c41a !important
}

@media (max-width: 692px) {
  .mySwiper {
    min-width: 90px;
  }

  .swiperDiscCont {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    align-items: center;
}

  .carouselItemDesc {
    max-width: 100%;
  }

  .carouselItemDesc > .ant-card-body {
    padding: 12px;
  }

  .carouselItemDesc > .ant-card-header {
    padding-top: 10px;
  }
}

@media (max-width: 472px) {

  .mySwiper2 {
    min-height: 420px;
  }

  .mySwiper {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }

  .bannerCardTitle {
    z-index: 999;
    font-size: 18px;
    color: #fff;
  }

  .swiper-slide {
    min-height: 420px;
  }

  .ant-card-body {
    padding: 0px;
  }

  .carouselItemImg {
    width: 100%;
    height: 100%;
    min-height: 420px;
  }
}