.catalogGridCards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  justify-items: start;
  row-gap: 10px;
  column-gap: 10px;
}

.cardLinkContainer {
  width: 100%;
}

.catalogCardContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.catalogCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  transition: 0.5s;
  border: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.catalogCard:hover {
  background-color: var(--bg-color-main);
  transition: 0.5s;
}

.catalogCardImg {
  padding: 1px;
}

.descCard {
  padding: 2px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.5;
  font-size: 10px;
}

.titleCard {
  width: 100%;
  text-align: start;
  padding-left: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;    width: 100%;
  text-align: start;
  padding-left: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.catalogCardDesc {
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 5px;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  width: 100%;
}

.catalogCardTwoPrice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  flex-wrap: wrap;
}

.catalogCardRegPrice {
  font-weight: 500;
  text-decoration: line-through;
}

.catalogCardDiscPrice,
.catalogCardNormalPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 10px;
}

@media (max-width: 913px) {
  .catalogGridCards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 692px) {
  .catalogGridCards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
  }
}

@media (max-width: 472px) {
  .catalogGridCards {
    display: flex;
    flex-direction: column;
  }

}