.slider {
  grid-area: title;
}

.inputMin {
  grid-area: left;
}

.inputMax {
  grid-area: right;
}

.gridContainer {
  display: grid;
  grid-template-areas:
    "left right"
    "title title";
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}