.pageContainer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.catalog {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  width: 100%;
}

.catalogMainContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.catalogGridCards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 240px;
  width: 100%;
}


.menuContainer {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 200px;
  justify-content: flex-start;
  row-gap: 19px;
}

.catalogMenuSlider {
  max-width: 85%;
}

.catalogMenuCheckBox {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.menuCompTitle {
  text-align: start;
}

.popoverContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


@media (max-width: 913px) {
  .catalogGridCards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: 200px;
    grid-auto-columns: 100px;
  }

}

@media (max-width: 692px) {
  .catalogGridCards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-auto-rows: 200px;
  }

}

@media (max-width: 472px) {
  .catalogGridCards {
    display: flex;
    flex-direction: column;
    }

}