.pageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  color: black;
}

.sectionContaier {
  margin: 50px auto;
  width: 80%;
}

/* section 1 About */
.infoMainContaier {
  display: flex;
  flex-direction: row;
  /* margin: 0 auto; */
  height: 600px;
  justify-content: space-between;
  /* width: 80%; */
}

.containerBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;
}

/* section 2 How we work */
.aboutTeamContainer {
  background: white;
}

.sectionTitle {
  color: rgb(6, 74, 97);
  text-align: center;
  margin-top: 5%;
  letter-spacing: .08em;
  /* font-family: 'Archivo', sans-serif; */
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 35px;
}

.columnCapabilitis {
  position: relative;
  width: 450px;
  height: 280px;
  text-align: center;
}

.columnCapabilitis:first-child {
  background-color: #7979a145;
}

.columnCapabilitis:first-child .icon {
  color: rgb(229 177 22);
}

.columnCapabilitis:nth-child(2) {
  background: #92c5c5a1;
}

.columnCapabilitis:nth-child(2) .icon {
  color: rgb(229 177 22);
}

.columnCapabilitis:nth-child(3) {
  background: #ffe4c494;
}

.columnCapabilitis:nth-child(3) .icon {
  color: rgb(229 177 22);
}

.columnCapabilitis:nth-child(4) {
  background: #d9cc3066;
}

.columnCapabilitis:nth-child(4) .icon {
  color: rgb(229 177 22);
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
}

.icon {
  font-size: 50px;
  margin: 30px auto;
  padding: 30px auto;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: rgb(6, 74, 97);
}

.columnCapabilitis h3 {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  font-size: 24px;
}

.columnCapabilitis p {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
}

/* section about project */
.aboutProductBlock {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
}

.productSlader {
  width: 600px;
  padding: 13px;
  border: 5px solid #d5cdcd;
  border-radius: 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 10%;
}

.productInfo {
  width: 600px;
  padding-left: 10px;
}

.productInfoTitle h3 {
  color: white;
  text-align: center;
  margin-top: 8%;
  letter-spacing: .08em;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 40px;
}

.progectDiscription {
  text-align: justify;
  padding-left: 10px;
  margin-bottom: 10%;
  font-size: 18px;
  line-height: 101%;
  color: black;
}

.progectName {
  font-size: 30px;
  color: orange;
  padding: 10px;
  text-align: left;
}

/* about Team Member */
.teamMemberContainer {
  /* height: 600px; */
  background-color: #83d56d38;
}

.teamMemberInfo {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 0 auto; */
  /* width: 70%; */
}

.textAboutLearning {
  font-size: 50px;
  display: flex;
  flex-direction: row;
  margin: 0 0 20px 0;
}

.textAboutLearning p {
  margin-top: 10px;
}

.quotes {
  padding: 0 20px;
  color: orange;
}

.personPhoto {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.personPhotoContainer {
  height: 400px;
  width: 400px;
  background: white;
  border-radius: 50%;
}

.img {
  pointer-events: none;
  position: relative;
  transition: 1s;
  height: 400px;
  width: 300px;
}

.personPhotoContainer:hover .img {
  transform: translateY(0) scale(1.2);
}

.img1 {
  left: 22px;
  top: 164px;
  width: 340px;
}

.divider {
  background-color: #ca6060;
  height: 1px;
  width: 160px;
  margin-top: 20px;
}

.name {
  color: #dee2e9;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
  padding-left: 10px;
}

.title {
  color: #6e6e6e;
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}