.trollContainer {
  animation: rotating 1s linear infinite !important;
  width: 70px !important;
  height: 70px !important;
  overflow: hidden;
  border-radius: 50%;
}

.trollIcon {
  width: 100%;
  height: 100%;
}

@keyframes rotating {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
