html,
html[data-theme="light"] {
  --bg-color-main: #eae7ea;
  --bg-color-menu: #eae7ea;
  --bg-color-accent: #96A451;
  --color-main: #e6f4ff;
  --color-accent: #000;
  --color-text: #000;
  --color-text-accent: #eae7ea;
  --image2: url('./src/assets/images/abstract-digital-grid-black-background.jpg');
  --gpStoreDarkGrey: #d4d4d4d6;
  --gpStoreDarkerGrey: #a4b9d3f2;

  --loadingStart: #C2D4E9;
  --loadingMiddle: #A4B9D3;
}

html[data-theme="dark"] {
  --bg-color-main: #171a21;
  --bg-color-menu: #171a21;
  --bg-color-accent: #988B72;
  --color-main: #fafafa;
  --color-accent: #69b1ff;
  --color-text: #fff;
  --color-text-accent: #171a21;
  --image2: url('./src/assets/images/abstract-digital-grid-black-background.jpg');
  --gpStoreDarkGrey: rgba(42, 71, 94, 0.9);
  --gpStoreDarkerGrey: #1b2838cc;

  --loadingStart: #6F839C;
  --loadingMiddle: #5F7B9C;
}

html[data-theme="barbie"] {
  --bg-color-main: #ffe6f9;
  --bg-color-menu: #ffe6f9;
  --bg-color-accent: #8FA64B;
  --color-main: #fafafa;
  --color-accent: #000;
  --color-text: #000;
  --color-text-accent: #ffe6f9;
  --image2: url('./src/assets/images/abstract-digital-grid-black-background.jpg');
  --gpStoreDarkGrey: #fbc2f7d6;
  --gpStoreDarkerGrey: #ffd6e7f2;

  --loadingStart: #FFE0ED;
  --loadingMiddle: #FFD6E7;
}


html * {
  transition: color 0.2s ease, background-color 0.2s ease;
}

body {
  background-color: var(--bg-color-main);
  color: var(--color-main);
}