.footer {
  width: 100%;
  background-color: var(--bg-color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  flex-direction: column;
}

.rule {
  height: 8px;
  border-top: 1px solid var(--gpStoreDarkerGrey);
  width: 100%;
}

.footerFirstLine {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.footerSecondLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  width: 100%;
}

.footerBigText {
  font-size: 22px;
  margin: 0px;
}

.githubLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 630px) {
  .footerFirstLine {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    width: 100%;
    padding-bottom: 10px;
  }

  .userCont,
  .productCont,
  .infoCardCont,
  .githubLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
