.headerMenu {
  display: flex;
  /* background-color: #eee;
  color: black; */
  width: 100%;
}

.logotip {
  display: flex;
  height: 100%;
  width: 15%;
  min-width: 64px;
  min-height: 64px;
  background-color: var(--color-text); 
  -webkit-mask-image: var(--image-logo);
  mask-image: var(--image-logo);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: left;
  -webkit-mask-position: left;
}

.menu_main {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.menu_reg {
  display: flex;
  margin-left: auto;
  align-items: center;
  width: 25%;
  min-width: 160px;
}

.menu_items {
  display: flex;
  background-color: var(--bg-color-menu);
  width: 100%;
  border-bottom: none;
  justify-content: center;
}

.menu_items_line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #eee; */
  /* color: black; */
  width: 100%;
}

.menu_reg > .menu_items {
  display: flex;
  background-color: var(--bg-color-menu);
  width: 100%;
  justify-content: flex-end;
  border-bottom: none;
}


.burgerMenu {
  display: flex;
  justify-content: center;
  /* background-color: #eee;
  color: black; */
  width: 100%;
}

.burger_icon {
  position: absolute;
  top: 9px;
  left: 10px;
  cursor: pointer;
  width: 36px;
  height: 31px;
  font-size: 30px;
}

@media (max-width: 500px) {
  .headerMenu {
    display: none;
  }
  .menu_main {
    width: 100%;
    margin: 0%;
  }
  .menu_reg {
    width: 100%;
    margin: 0%;
  }
  .logotip {
    margin: auto;
  }
  .burgerMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 20;
    box-shadow: 0 0 7px 0 rgba( 0, 0, 0, 0.75 );
    overflow: hidden;
    padding: 19px 8px;
    background-color: var(--bg-color-main);
}
}

@media (min-width: 500px) {
  .burgerMenu {
    display: none;
  }
}
