
.notFoundPage {
  background-color:  black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color:white;
  height: 100%;
}
.card {
  background: url(../../assets/images/notfound.gif) center no-repeat;
  width: 800px;
  height: 600px;
  padding: 0;
}

.title404 {
  font-size: 50px;
  color:white;
  /* margin: auto; */
  margin: 0;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  align-items: center;
  padding: 50px;
}