
.notFoundPage {
  display: flex;
  flex: 1;
  justify-content: center;
  /* height: 100%; */
  /* position: relative; */
  background-size: cover;
  background-image: linear-gradient(var(--gpStoreDarkGrey), var(--gpStoreDarkerGrey)),var(--image2);
}

.card {
  display: flex;
  width: 50%;
  height: auto;
  width: 100%;
}

.title404 {
  font-size: 50px;
  color:var(--color-text);
}

.infoBlock {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}