
.notFoundPage {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  background-color: var(--bg-color-menu);
  background-size: cover;
  background-image: linear-gradient(var(--gpStoreDarkGrey), var(--gpStoreDarkerGrey)),var(--image2);
  background-color:var(--color-text);
}

.card {
  fill: red;
  display: flex;
  width: 50%;
  background-color: var(--color-text); 
  -webkit-mask-image: url('./src/assets/images/taro.svg');
  mask-image: url('./src/assets/images/taro.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  height: auto;
  width: 100%;
}

.title404 {
  font-size: 50px;
  color:var(--color-text);
}

.infoBlock {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}