@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* 
font-family: 'Roboto', sans-serif; 
*/

* {
  font-family: 'Roboto', sans-serif; 
}

p {
  margin: 0;
}