@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*
font-family: 'Roboto', sans-serif;
*/

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  overflow: auto
}

p {
  margin: 0;
}

/* ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2);
  border-radius: 10px;
} */

